@model SharingEconomyPlatform.Models.Product
    @using Microsoft.AspNet.Identity.EntityFramework;
@{
    ViewBag.Title = "temp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string t = Model.Category.Name;
}

<h2>temp</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
    </tr>
    <tr>
        <td>@Model.Name</td>
        <td>@Model.Price</td>
        <td>@t</td>
    </tr>
</table>